<mat-toolbar color="primary">
  Личный дневник
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <div>
      {{ user.displayName }}
      <button mat-button type="button" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button type="button" routerLink="login">
      <mat-icon>login</mat-icon>
      Войти
    </button>
  </ng-template>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()" type="button">
    <mat-icon>logout</mat-icon>
    Выйти
  </button>
</mat-menu>
