<div class="form-container mat-elevation-z5">
  <h1 class="text-center">Регистрация</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Имя" formControlName="name" />
      <mat-error *ngIf="f.name?.errors?.['required']">Введите Имя</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Эл. почта" formControlName="email" />
      <mat-error *ngIf="f.email?.errors?.['required']"> Введите эл. почту </mat-error>
      <mat-error *ngIf="f.email?.errors?.['email']"> Введите корректный адрес эл. почты </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Пароль" formControlName="password" />
      <mat-error *ngIf="f.password?.errors?.['required']"> Введите пароль </mat-error>
      <mat-error *ngIf="f.password?.errors?.['minlength']"> Пароль должен состоять минимум из 6 символов </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Подтвердите пароль" formControlName="confirmPassword" />
      <mat-error *ngIf="f.confirmPassword?.errors?.['required']"> Введите пароль </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']"> Пароли должны совпадать </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Зарегистрироваться!</button>
    </div>
  </form>
</div>
